<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/employee.css}">
  <title>List Employee</title>
</head>
<body>
<h1>List of Employees</h1>
<a href="/employees/new">Create</a>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Wage</th>
  </tr>
  <tr th:each="employee : ${employees}">
    <td th:text="${employeeStat.index + 1}"></td>
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.wage}"></td>
  </tr>
</table>
</body>
</html>